<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Payment method validator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://jessepollak.github.io/payment/lib/payment.js"></script>
  </head>

  <body>
    <div class="container w-25">
      <form action="/validate-payment-method" class="mt-3">
        <div class="form-group">
          <label for="payment-method">Validate payment method</label>
          <input id="payment-method" name="payment-method" type="text" class="form-control"  />
          <button class="btn btn-secondary mt-3">Validate</button>
        </div>
        <% if (@payment_method) then %>
          <div class="text-center alert alert-<%= @payment_method[:status] == "valid" ? "success" : "danger" %> mt-3">
            <span><%= @payment_method[:number] %> is <%= @payment_method[:status] %></span>
          </div>
        <% end %>
      </form>
    </div>

    <script type="text/javascript">
      Payment.formatCardNumber(document.querySelector("#payment-method"));
    </script>
  </body>
</html>
